<app-navbar></app-navbar>
<section class="">

    <div class="container">

      <div class="row">

        <div class="col-md-12">

          
          <!-- Begin .HorizontalTab -->
          <div class="VerticalTab VerticalTab_hash_scroll VerticalTab_6 tabs_ver_6">
          
                <div class="resp-tabs-container hor_1 tabs_scroll">
                                
                    <div class="fc-tab-1">
                    
                    <div class="home-container">
                        <div class="row">
                        <div class="col-md-10">

                            <div class="left-content">
                                <div class="left-line"></div> 
                        <h2 style="color: palevioletred;">Sophie Turner Portrait</h2>
                        </div>
                                <div class="right-content" style="margin-top: 100px;">
                                <img src="assets/sophie.png">
                                </div>                
                            
                        </div>
                        <div class="col-md-12">
                        <div class="left-content">
                           
                            <h2 style="color: darkcyan; margin-bottom: 50px;">Pencil</h2>
                            <h4>Photo drawn by me. took me 4 hours  Request if you want one like this</h4>
                            <div class="primary-button" >
                                <a (click)="Request()">Request now</a>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
        </section>



        <section >
            <div class="container" style="margin-top:100px ;">
                <div class="sous-titre">
                    <h1 class="titre" style="font-weight: bold; color: rgb(80, 80, 80); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Artist :</h1>
                </div>
                <div class="row " style="align-items: center;">
                    <div class="col-md-4 my-3">
                        <div class="team-wrapper text-center" style="align-items: center;">
                            <div style="align-items: center;">
                                <img src="assets/audra.png" routerLink="/profile" routerLinkActive="active" style="cursor: pointer; border-radius: 50%; width: 180px;">
                            </div>
                            <h3 style="size: 40px; font-weight: bold; color: darkcyan;">Najla Hamza</h3>
                           
                        </div>
                    </div>
                    </div>
                </div>
            </section>

<app-footer></app-footer>