


/** footer **/

.footer {
    padding-top: 80px;
    background: #111111;
    text-align: center;
}





.copyright {
    margin-top: 60px;
   background-color: #111111;
    padding-bottom: 20px;
}

.copyright p {
    border-top:#d1d1d1 solid 1px;
    padding-top: 20px;
    color: #d1d1d1;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    font-weight: normal;
}

.copyright a {
    color: #d1d1d1;
}

.copyright a:hover {
    color: #ed1c24;
}