<app-navbar></app-navbar>
<!-- Page Header -->
<header class="header">
    
        <div class="overlay">
        <img src="assets/images/logoorsomni.png"  class="logo">
        <h1 class="title">Discover all kinds of portraits</h1> 
        <a class="btn btn-danger mt-3" routerLink="/add-artwork" routerLinkActive="active">Add your art</a> 
        </div>
        
</header>

  <!-- artworks 
 <section id="about">
    <div class="container">
        <div class="row align-items-center">                
            <div *ngIf="arts.length > 0 ">
                <div  *ngFor="let art of arts">
                    <div class="card" >
                        <div class="card-header">
                            <img src="assets/mic.png" alt="rover"  />
                        </div>
                        <div class="card-body">
                            <span class="tag tag-teal">{{art.type}}</span>
                            <h4>
                                {{art.title}}
                            </h4>
                            <p>
                                {{art.desc}}
                            </p>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
    </div>
</section> -->
<div class="sous-titre">
    <h1 class="titre text-center">Recently updated</h1>
</div>
<div style="width: 100%; height: auto;">
<app-art-cards></app-art-cards>
</div>



<!-- Team Section -->
<section id="team">
    <div class="container">
        <div class="sous-titre">
            <h1 class="titre text-center">Top Artists</h1>
        </div>
        <div class="row">
            <div class="col-md-4 my-3">
                <div class="team-wrapper text-center">
                    <div  >
                        <img src="assets/audra.png" class="circle-120 rounded-circle mb-3 shadow">
                    </div>
                    <h5 class="my-3">Najla Hamza</h5>
                    <p>my description</p>
                   
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="team-wrapper text-center">
                    <img src="assets/arya.jpg" class=" circle-120 rounded-circle mb-3 shadow" >
                    <h5 class="my-3">Linda Bouallegue</h5>
                    <p>about me</p>
                    
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="team-wrapper text-center">
                    <img src="assets/sophie.png" class="circle-120 rounded-circle mb-3 shadow" >
                    <h5 class="my-3">Eya Rayes</h5>
                    <p>something</p>
                    
                </div>
            </div> 
        </div>
    </div>
</section>
<app-footer></app-footer>
<!-- End of Team Section -->

<!-- 
<div *ngIf="authService.userData as user">
    {{user | json}}
</div>
-->
   