

<!-- Second Navigation -->
<nav class="nav-second navbar custom-navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <img class="image1"src="assets/images/logoorsomni.png">

    <div class="container">
       
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
            <ul class="navbar-nav mr-auto"> 
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/dashboard" routerLinkActive="active" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/dashboard" routerLinkActive="active" >Portraits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/artists" routerLinkActive="active" >Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
            </ul> 
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="components.html" class="btn btn-info btn-sm " style="color: black;" routerLink="/profile" routerLinkActive="active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="components.html" class="btn btn-round btn-sm"(click)="auth.SignOut()">Log Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>