
<div class="full-width">
    <div *ngIf="arts.length > 0 ">
        <div  *ngFor="let art of arts">
            <div class="col-md-3"  >

            <div class="card-view" >
                <div class='bg' >
                </div>
                <div class="container">
                 <div class="tag_name" style="color: palevioletred;">{{art.title}}</div> 
                 <span class="tag tag-teal">{{art.type}}</span>
                <div class="company">
                    <div class="card-header"  routerLink="/view-art" routerLinkActive="active">
                        <img src="assets/mic.png" alt="rover" class="art-img" />
                    </div> 
                    <div class="c_content">
                    <!--<a href='#' class="title"><p>{{art.desc}}</p></a>-->
                    </div>
                </div> <!-- end .company -->

                <div class="user" style="margin-top: 15px;">
                    <div class="user_avatar">
                    <img src="assets/mic.png" >
                    </div>
                    <div class="user_info">
                    <a href="#" class="user_name orange">{{art.title}}</a> • May 30, 2015
                    </div>
                   
                </div> <!-- end .user -->
                </div> <!-- end .container -->
            </div> <!-- end card -->

            </div>
         </div>
    
    </div> <!-- end col-md-3 -->
</div>