<app-navbar></app-navbar>


<div class="sous-titre">
    <h1 class="titre text-center">Artists</h1>
</div>

<div class="row">
    <div class="column">
      <div class="card">
        <div class="outer-div">
        <div class="inner-div"  routerLink="/profile" routerLinkActive="active">
            <div class="front">
            
            <div class="front__face-photo">
              <img src="./assets/Camilla.jpg"/></div>
            <div class="front__text">
                <h3 class="front__text-header">Najla Hamza</h3>
                <p class="front__text-para"><i class="fas fa-map-marker-alt front-icons"></i>Tunis</p>
                
                <span class="front__text-hover">Digital Artist</span>
            </div>
            </div>
            <div class="back">
            <div class="social-media-wrapper">
                <a href="#" class="social-icon"><i class="fab fa-codepen" aria-hidden="true"></i></a> 
                <a href="#" class="social-icon"><i class="fab fa-github-square" aria-hidden="true"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </div>
            </div>

        </div>
        </div>
      </div>
    </div>
    <div class="column">
        <div class="card">
          <div class="outer-div">
          <div class="inner-div">
              <div class="front">
              
              <div class="front__face-photo"> <img src="./assets/Zayn.png"/></div>
              <div class="front__text">
                  <h3 class="front__text-header">Linda Bouallegue</h3>
                  <p class="front__text-para"><i class="fas fa-map-marker-alt front-icons"></i>Sousse</p>
                  
                  <span class="front__text-hover">Digital Artist</span>
              </div>
              </div>
              <div class="back">
              <div class="social-media-wrapper">
                  <a href="#" class="social-icon"><i class="fab fa-codepen" aria-hidden="true"></i></a> 
                  <a href="#" class="social-icon"><i class="fab fa-github-square" aria-hidden="true"></i></a>
                  <a href="#" class="social-icon"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a>
                  <a href="#" class="social-icon"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              </div>
              </div>
  
          </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="outer-div">
          <div class="inner-div">
              <div class="front">
              
              <div class="front__face-photo"> <img src="./assets/Avril.png"/></div>
              <div class="front__text">
                  <h3 class="front__text-header">Eya Rayes</h3>
                  <p class="front__text-para"><i class="fas fa-map-marker-alt front-icons"></i>Nabeul</p>
                  
                  <span class="front__text-hover">Digital Artist</span>
              </div>
              </div>
              <div class="back">
              <div class="social-media-wrapper">
                  <a href="#" class="social-icon"><i class="fab fa-codepen" aria-hidden="true"></i></a> 
                  <a href="#" class="social-icon"><i class="fab fa-github-square" aria-hidden="true"></i></a>
                  <a href="#" class="social-icon"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a>
                  <a href="#" class="social-icon"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              </div>
              </div>
  
          </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="outer-div">
          <div class="inner-div">
              <div class="front">
              
              <div class="front__face-photo"> <img src="./assets/1.png"/></div>
              <div class="front__text">
                  <h3 class="front__text-header">Jihed Masri</h3>
                  <p class="front__text-para"><i class="fas fa-map-marker-alt front-icons"></i>Sousse</p>
                  
                  <span class="front__text-hover">Digital Artist</span>
              </div>
              </div>
              <div class="back">
              <div class="social-media-wrapper">
                  <a href="#" class="social-icon"><i class="fab fa-codepen" aria-hidden="true"></i></a> 
                  <a href="#" class="social-icon"><i class="fab fa-github-square" aria-hidden="true"></i></a>
                  <a href="#" class="social-icon"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a>
                  <a href="#" class="social-icon"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              </div>
              </div>
  
          </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="outer-div">
          <div class="inner-div">
              <div class="front">
              
              <div class="front__face-photo"> <img src="./assets/6.png"/></div>
              <div class="front__text">
                  <h3 class="front__text-header">Rihab Fathallah</h3>
                  <p class="front__text-para"><i class="fas fa-map-marker-alt front-icons"></i>Sousse</p>
                  
                  <span class="front__text-hover">Digital Artist</span>
              </div>
              </div>
              <div class="back">
              <div class="social-media-wrapper">
                  <a href="#" class="social-icon"><i class="fab fa-codepen" aria-hidden="true"></i></a> 
                  <a href="#" class="social-icon"><i class="fab fa-github-square" aria-hidden="true"></i></a>
                  <a href="#" class="social-icon"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a>
                  <a href="#" class="social-icon"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              </div>
              </div>
  
          </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="outer-div">
          <div class="inner-div">
              <div class="front">
              
              <div class="front__face-photo"> <img src="./assets/3.jpg"/></div>
              <div class="front__text">
                  <h3 class="front__text-header">Aziz Jbeli</h3>
                  <p class="front__text-para"><i class="fas fa-map-marker-alt front-icons"></i>Tunis</p>
                  
                  <span class="front__text-hover">Digital Artist</span>
              </div>
              </div>
              <div class="back">
              <div class="social-media-wrapper">
                  <a href="#" class="social-icon"><i class="fab fa-codepen" aria-hidden="true"></i></a> 
                  <a href="#" class="social-icon"><i class="fab fa-github-square" aria-hidden="true"></i></a>
                  <a href="#" class="social-icon"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a>
                  <a href="#" class="social-icon"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              </div>
              </div>
  
          </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="outer-div">
          <div class="inner-div">
              <div class="front">
              
              <div class="front__face-photo"> <img src="./assets/4.jpg"/></div>
              <div class="front__text">
                  <h3 class="front__text-header">Nour Fnaiech</h3>
                  <p class="front__text-para"><i class="fas fa-map-marker-alt front-icons"></i>Sousse</p>
                  
                  <span class="front__text-hover">Digital Artist</span>
              </div>
              </div>
              <div class="back">
              <div class="social-media-wrapper">
                  <a href="#" class="social-icon"><i class="fab fa-codepen" aria-hidden="true"></i></a> 
                  <a href="#" class="social-icon"><i class="fab fa-github-square" aria-hidden="true"></i></a>
                  <a href="#" class="social-icon"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a>
                  <a href="#" class="social-icon"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              </div>
              </div>
  
          </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="outer-div">
          <div class="inner-div">
              <div class="front">
              
              <div class="front__face-photo"> <img src="./assets/5.jpg"/></div>
              <div class="front__text">
                  <h3 class="front__text-header">Mootaz Azaiez</h3>
                  <p class="front__text-para"><i class="fas fa-map-marker-alt front-icons"></i>Tunis</p>
                  
                  <span class="front__text-hover">Digital Artist</span>
              </div>
              </div>
              <div class="back">
              <div class="social-media-wrapper">
                  <a href="#" class="social-icon"><i class="fab fa-codepen" aria-hidden="true"></i></a> 
                  <a href="#" class="social-icon"><i class="fab fa-github-square" aria-hidden="true"></i></a>
                  <a href="#" class="social-icon"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a>
                  <a href="#" class="social-icon"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              </div>
              </div>
  
          </div>
          </div>
        </div>
      </div>
</div>
<app-footer></app-footer>


