

<div style="width: 100%; height: auto;">

    <div class="full-width">
        <div>
            
               
               
    <div class="row">
        <div class="col-sm-6"><div class="service-tag py-5" style="background-color: white;">
	
        </div>
        
    
    
    
    <div style="width: 100%; height: auto;">
    
        <div class="full-width">
            <div>
                
                   
                    <div class="card-view" >
                        <div class='bg' >
                        </div>
                        <div class="container">
                             <div class="col-md-6"  >
        
                         <div class="tag_name" style="color: palevioletred;"></div> 
                        <div class="company">
                            <div class="card-header"  routerLink="/view-art" routerLinkActive="active">
                                <img src="assets/mic.png" alt="rover" class="art-img" />
                            </div> 
                            <div class="c_content">
                            <!--<a href='#' class="title"><p>{{art.desc}}</p></a>-->
                            </div>
                        </div> <!-- end .company -->
                     <!-- end .user -->
                        </div> <!-- end .container -->
                       
                    </div> <!-- end card -->
        
                    </div>
                   
            
            </div> <!-- end col-md-3 -->
        </div></div></div>
        <div class="card">
        <div class="col-sm-6">
            <div class="tag_name" style="color: palevioletred;">Linda</div> 

            <span class="tag tag-teal">Linda BOUALLEGUE</span>
            <br>
            <br>

            <div class="user">
                <div class="user_avatar">
                <img src="assets/mic.png" >
                </div>
                <div class="user_info">
                <a href="#" class="user_name orange"></a> Name of user
                </div>
                <div class="bouton">
                <button type="button" class="btn btn-outline-success">Accept</button>
                <button type="button" class="btn btn-outline-danger">Decline</button>
               </div>
            </div>
        </div></div>
      </div>
	
 
