

<div style="width: 100%; height: auto;">

    <div class="full-width">
        <div>
            
               
               
    <div class="row">
        <div class="col-sm-6"><div class="service-tag py-5" style="background-color: white;">
	
        </div>
        
    
    <div style="width: 100%; height: auto;">
    
        <div class="full-width">
            <div>
                
                   
                    <div class="card-view" >
                        <div class='bg' >
                        </div>
                        <div class="container">
                             <div class="col-md-6"  >
        
                         <div class="tag_name" style="color: palevioletred;"></div> 
                        <div class="company">
                            <div class="card-header"  routerLink="/view-art" routerLinkActive="active">
                                <img src="assets/mic.png" alt="rover" class="art-img" />
                            </div> 
                            <div class="c_content">
                            <!--<a href='#' class="title"><p>{{art.desc}}</p></a>-->
                            </div>
                        </div> <!-- end .company -->
                     <!-- end .user -->
                        </div> <!-- end .container -->
                       
                    </div> <!-- end card -->
        
                    </div>
                   
            
            </div> <!-- end col-md-3 -->
        </div></div></div>
         
       <!-- <div *ngIf="arts.length > 0 ">
            <div  *ngFor="let art of arts">-->
                <div class="card">
                <div class="col-sm-6">
                

                        <div class="tag_name" style="color: palevioletred;"> Mickael Scofield </div> 

                        <span class="tag tag-teal"> Pencil </span>
                        <br>
                        <br>

                        <div class="user">
                            <p style="font-size: 15px; margin-left: 20px;">Request sent to :</p>
                            <div class="user_avatar">
                            <img style="cursor: pointer;" routerLink="/profile" routerLinkActive="active" src="assets/najla.png" >
                            </div>
                            <div class="user_info">
                            <a  class="user_name " style="color: black; font-weight: bold;"> Najla Hamza </a> 
                            </div>
                            <div class="bouton">
                             <button type="button" (click)="onDecline()" style="cursor: pointer;" class="btn btn-outline-danger">Cancel</button>
                        </div>
                    </div>
                    <div class="user">
                      
                        <div class="user_avatar">
                            <p style="font-size: 15px; margin-left: 20px;">Status : </p>
                        </div>
                        <div class="user_info">
                        <a  class="user_name " style="color: green; font-weight: bold;"> Finished </a> 
                        </div>
                         
                    </div>
                </div>
            </div>
      </div>
      </div>
      </div>
      </div>
     
    
	

<div style="width: 100%; height: auto;">

    <div class="full-width">
        <div>
            
               
               
    <div class="row">
        <div class="col-sm-6"><div class="service-tag py-5" style="background-color: white;">
	
        </div>
        
    
    <div style="width: 100%; height: auto;">
    
        <div class="full-width">
            <div>
                
                   
                    <div class="card-view" >
                        <div class='bg' >
                        </div>
                        <div class="container">
                             <div class="col-md-6"  >
        
                         <div class="tag_name" style="color: palevioletred;"></div> 
                        <div class="company">
                            <div class="card-header"  routerLink="/view-art" routerLinkActive="active">
                                <img src="assets/sophie.png" alt="rover" class="art-img" />
                            </div> 
                            <div class="c_content">
                            <!--<a href='#' class="title"><p>{{art.desc}}</p></a>-->
                            </div>
                        </div> <!-- end .company -->
                     <!-- end .user -->
                        </div> <!-- end .container -->
                       
                    </div> <!-- end card -->
        
                    </div>
                   
            
            </div> <!-- end col-md-3 -->
        </div></div></div>
         
       <!-- <div *ngIf="arts.length > 0 ">
            <div  *ngFor="let art of arts">-->
                <div class="card">
                <div class="col-sm-6">
                

                        <div class="tag_name" style="color: palevioletred;"> Sophie Turner </div> 

                        <span class="tag tag-teal"> Pencil </span>
                        <br>
                        <br>

                        <div class="user">
                            <p style="font-size: 15px; margin-left: 20px;">Request sent to :</p>
                            <div class="user_avatar">
                            <img style="cursor: pointer;" routerLink="/profile" routerLinkActive="active" src="assets/audra.png" >
                            </div>
                            <div class="user_info">
                            <a  class="user_name " style="color: black; font-weight: bold;"> Linda Bouallegue </a> 
                            </div>
                            <div class="bouton">
                             <button type="button" (click)="onDecline()" style="cursor: pointer;" class="btn btn-outline-danger">Cancel</button>
                        </div>
                    </div>

                    <div class="user">
                      
                        <div class="user_avatar">
                            <p style="font-size: 15px; margin-left: 20px;">Status : </p>
                        </div>
                        <div class="user_info">
                        <a  class="user_name " style="color: orange; font-weight: bold;"> Waiting  </a> 
                        </div>
                         
                    </div>
                </div>


                </div>
            </div>
      </div>
      </div>
      </div>
  

      

<div style="width: 100%; height: auto;">

    <div class="full-width">
        <div>
            
               
               
    <div class="row">
        <div class="col-sm-6"><div class="service-tag py-5" style="background-color: white;">
	
        </div>
        
    
    <div style="width: 100%; height: auto;">
    
        <div class="full-width">
            <div>
                
                   
                    <div class="card-view" >
                        <div class='bg' >
                        </div>
                        <div class="container">
                             <div class="col-md-6"  >
        
                         <div class="tag_name" style="color: palevioletred;"></div> 
                        <div class="company">
                            <div class="card-header"  routerLink="/view-art" routerLinkActive="active">
                                <img src="assets/arya.jpg" alt="rover" class="art-img" />
                            </div> 
                            <div class="c_content">
                            <!--<a href='#' class="title"><p>{{art.desc}}</p></a>-->
                            </div>
                        </div> <!-- end .company -->
                     <!-- end .user -->
                        </div> <!-- end .container -->
                       
                    </div> <!-- end card -->
        
                    </div>
                   
            
            </div> <!-- end col-md-3 -->
        </div></div></div>
         
       <!-- <div *ngIf="arts.length > 0 ">
            <div  *ngFor="let art of arts">-->
                <div class="card">
                <div class="col-sm-6">
                

                        <div class="tag_name" style="color: palevioletred;"> Maisie Williams </div> 

                        <span class="tag tag-teal"> Pencil </span>
                        <br>
                        <br>

                        <div class="user">
                            <p style="font-size: 15px; margin-left: 20px;">Request sent to :</p>
                            <div class="user_avatar">
                            <img style="cursor: pointer;" routerLink="/profile" routerLinkActive="active" src="assets/najla.png" >
                            </div>
                            <div class="user_info">
                            <a  class="user_name " style="color: black; font-weight: bold;"> Eya Rayes </a> 
                            </div>
                            <div class="bouton">
                            <button type="button" (click)="onDecline()" style="cursor: pointer;" class="btn btn-outline-danger">Cancel</button>
                        </div>
                    </div>
                    <div class="user">
                      
                        <div class="user_avatar">
                            <p style="font-size: 15px; margin-left: 20px;">Status : </p>
                        </div>
                        <div class="user_info">
                        <a  class="user_name " style="color: red; font-weight: bold;"> Declined  </a> 
                        </div>
                         
                    </div>
                </div>
            </div>
      </div>
      </div>
      </div>
      </div>
     
    
	
 

     
    
	
 

 
