
		<app-navbar></app-navbar>

		<div *ngIf="auth.user$ | async as user">
				{{user | json}}
				
		</div>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<div class="sous-titre">
						<h1 class="titre">Add Artwork</h1>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Please fill the details</h3>
									<div id="form-message-warning" class="mb-4"></div> 
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
									<form method="POST" id="contactForm" name="contactForm" class="contactForm">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="Title">Title</label>
													<input type="text" class="form-control" name="Title" id="Title" placeholder="Title" [(ngModel)]="artwork.title" required>
												</div>
											</div>
											<div class="col-md-6"> 
												<label class="label" for="Type">type</label>
													<div class="form-group" *ngFor="let t of types">		
															<input type="radio" name="type" id="Type" [(ngModel)]="artwork.type" value={{t}}>	
															{{t}}												
													</div>
											</div>
										<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="Price">Price (DT)</label>
													<input type="text" class="form-control" name="Price" id="Price" placeholder="Price" [(ngModel)]="artwork.price" required>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="Photo">Photo </label>
													<input type="file" accept="image/png, image/jpeg, image/jpg" (change)="fileChangeEvent($event)" class="form-control" name="Photo" id="Photo" [(ngModel)]="artwork.photo" required>
												</div>
											</div>                    
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="#">Description</label>
													<textarea name="Description" class="form-control" id="Description" cols="30" rows="4" placeholder="Description" [(ngModel)]="artwork.desc" required></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group" >
													<button (click)="addArtwork()" class="btn " style="background-color: darkturquoise; color: aliceblue;">Submit</button> 
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>							
						</div>
					</div>
				</div>
			</div>
	</section>
